<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
  <% if @artist.image then %>
      <%= image_tag(@artist.image, size: '300x180') %>
  <% else %>
      <%= image_tag(image_url('avatar.png'), size: '300x180') %>
  <% end %>

</p>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>
