<p id="notice"><%= notice %></p>

<% if @artist.image then %>
    <%= image_tag(@artist.image, style: 'height:200px') %>
<% else %>
    <%= image_tag(image_url('avatar.png'), style: 'height:200px') %>
<% end %>
<div class="sub-heading"><%= @artist.name %></div>

<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Destroy', @artist, method: :delete, data: { confirm: 'Are you sure?' } %>
