<p id="notice"><%= notice %></p>

<h1>Favorites</h1>

<% if @favorite_artists.length > 0 %>
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Artists</h2>
        </div>

        <% @favorite_artists.each do |fav| %>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <%= link_to(fav.artist, class: 'thumbnail') do %>
                  <% if fav.artist.image then %>
                      <%= image_tag(fav.artist.image, class: 'img-responsive', alt: fav.artist.name) %>
                  <% else %>
                      <%= image_tag(image_url('avatar.png'), class: 'img-responsive', alt: fav.artist.name) %>
                  <% end %>
                  <div class="sub-heading"><%= fav.artist.name %></div>
              <% end %>
          </div>
        <% end %>
    </div>
</div>
<% end %>

<% if @favorite_albums.length > 0 %>
<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Albums</h2>
        </div>

        <% @favorite_albums.each do |fav| %>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">
              <%= link_to(fav.album, class: 'thumbnail') do %>
                  <% if fav.album.image then %>
                      <%= image_tag(fav.album.image, class: 'img-responsive', alt: fav.album.title) %>
                  <% else %>
                      <%= image_tag(image_url('avatar.png'), class: 'img-responsive', alt: fav.album.title) %>
                  <% end %>
                  <div class="sub-heading"><%= fav.album.title %></div>
              <% end %>
          </div>
        <% end %>
    </div>
</div>
<% end %>

<% if @favorite_songs.length > 0 %>
<div class="container">

    <div class="row">

        <div class="page-header">
            <h2>Songs</h2>
        </div>

        <div>
          <ul class="list-group">
            <% @favorite_songs.each do |fav| %>
                <a href="javascript:void(0)" class="list-group-item track-item">
                  <%= [fav.song.album.artist.name, fav.song.album.title, fav.song.title].join(' - ') %>
                  <% if fav.song.preview_url then %>
                      <%= audio_tag(fav.song.preview_url) %>
                  <% end %>
                </a>
            <% end %>
          </ul>
        </div>
    </div>

</div>
<% end %>
