<%= simple_form_for(@album) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, as: :string %>
    <%= f.association :artist %>
  </div>

  <%= f.fields_for :songs do |builder| %>
    <div class="form-inputs">
      <%= builder.label :title, "Song" %><br/>
      <%= builder.input :title, as: :string %>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
