<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
  <% if @album.image then %>
      <%= image_tag(@album.image, size: '300x180') %>
  <% else %>
      <%= image_tag(image_url('avatar.png'), size: '300x180') %>
  <% end %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @album.artist %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
