<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<% if user_signed_in? %>
  <li><%= link_to 'Artists', artists_url %></li>
  <li><%= link_to 'Albums', albums_url %></li>
  <li><%= link_to 'Songs', songs_url %></li>
  <li><%= link_to 'Favorites', favorites_url %></li>
<% end %>
